.form-box {
  width: 100%;
  max-width: 380px;
}

h2 {
  font-size: 32px;
  margin-bottom: 6px;
}

.desc {
  color: #888;
  margin-bottom: 28px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

label {
  font-size: 14px;
  margin-bottom: 4px;
  color: #444;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.primary-btn {
  width: 100%;
  margin-top: 10px;
  padding: 14px 0;
  background: #6c5ce7;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.primary-btn:hover {
  background: #574bd6;
}

.error {
  color: red;
  margin: -5px 0 10px;
}

.success {
  color: #00b894;
}

.sub-text {
  margin-top: 16px;
  font-size: 14px;
}

.link {
  color: #6c5ce7;
  font-weight: 600;
}
